{
  "env": {
    "production": {
      "plugins": ["emotion"],
      "presets": ["@babel/preset-env","@babel/react"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }]],
      "presets": ["@babel/preset-env","@babel/react"]
    }
  }
}