.responsive {
  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
  }

  @media only screen and (min-width: 1366px) {
    .wrapper {
      width: 100%;
      margin: 0 calc((100vw - 1366px) / 2);
    }
  }
}
