redirect {
  display: block;
}


.link-frame {
  
}

.link-frame ul{
  list-style-type: none;
  display: inline;
}

.link-frame li{
  padding-top: 15px;
  margin-right: 5px;
  list-style-type: none;;
  display: inline-table;;
}

.link-frame .title {
  background-color: rgb(92, 103, 139);
  border-style: none none ridge none;;
}

.link-frame .image-container {
  width: 150px;
  height: 100px;
  border-style: ridge;
}

.link-frame .image-container img {
  width: 45%;
  height: auto;
}
