.preview {
  width: 200px;
  height: 200px;
  border: 1px #cddce8 solid;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0;

  &:hover {
    cursor: pointer;
  }
}

.tags {
  margin-left: 5px;
}

.tag {
  margin: 10px 10px 0 0;
}
