<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on http://github.com/jonrohan -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/css/hover-min.css">

    <link rel="stylesheet" href="stylesheets/homePage.css">
    <link rel="stylesheet" href="stylesheets/navigation.css">

    <!-- JavaScripts -->
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/jquery.easing.1.3.js"></script>

    <script type="text/javascript" src="javascripts/webpageModule.js"></script>
    <script type="text/javascript" src="javascripts/navigationController.js"></script>
    <script type="text/javascript" src="javascripts/contactPanelController.js"></script>
    <script type="text/javascript" src="javascripts/projectPanelController.js"></script>

    <!-- Directives -->
    <script type="text/javascript" src="directives/listView/listView.js"></script>
    <link rel="stylesheet" href="directives/listView/listView.css">

    <title>Guohao Yan's Webpage </title>
    <meta name="description" content="This is my personal web page, contains detailed introduction about myself.">

    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="webpageModule">


    <div class="site-wrapper" ng-controller="navigationController as naviCtrl">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Guohao Yan<br><p class="address">Toronto, CA</p></h3>
                        <ul class="nav masthead-nav">
                            <li ng-repeat="page in pages" ng-class="{active : isSelected(page)}">
                                <i class="{{page.icon}}"></i><a class="hvr-grow-shadow" href="" ng-click="setSelected(page)" smooth-scroll target="{{page.anchor}}">{{page.name}}</a>
                        </ul>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">A Software Developer</h1>

                    <p class="lead">
                        "Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program."
                    </p>

                    <p class="lead"><a class="btn btn-lg btn-info hvr-pop" href="" ng-click="setSelected(pages[1])" smooth-scroll target="{{pages[1].anchor}}">Learn
            more</a></p>
                </div>

                <!-- <div class="mastfoot">
                    <div>
                        <p>
                            <a href="https://github.com/sccdmaomao" class="avatar"><img src="https://avatars0.githubusercontent.com/u/8729020?v=3&amp;s=60" width="48" height="48"></a>
                        </p>
                        <p>View <a href="https://github.com/sccdmaomao">Guohao Yan</a> on <a href="https://www.github.com">GitHub</a></p>
                        <p> 2016 Guohao Yan ~ <a href="http://getbootstrap.com/">Bootstrap, font-awesome</a></p>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    <div class="site-wrapper" ng-controller="projectPanelController as projectCtrl">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover">
                    <h1 id="projects" class="cover-heading">Projects</h1>
                    <list-view items="projects"></list-view>
                </div>
            </div>
        </div>
    </div>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="cover">
                    <h1 id="resume" class="cover-heading">Resume</h1>
                    <div class="preview">
                        <iframe src="/resources/files/Guohao Yan.pdf" height="100%" width="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-wrapper" ng-controller="contactPanelController as contactCtrl">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="cover">
                    <h1 id="contact" class="cover-heading">Contact</h1>
                    <!-- chrome most visit style -->
                    <list-view items="contacts"></list-view>
                </div>
            </div>
        </div>
    </div>

    <div class="empty-space">
    </div>

    <!-- Google Ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3155845895032412" data-ad-slot="2820342884" data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-77386747-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>
