$color0: #cff3d2;
$color1: #aee3c7;
$color2: #91d1be;
$color3: #78bfb6;
$color4: #63adaf;
$color5: #509aa9;
$color6: #4187a4;
$color7: #3573a0;
$color8: #2a5f9c;
$color9: #1f4b99;

html {
  background-color: #ced9e0;
}

/* Removes default margin from h3 */
h3 {
  margin: 0;
}

/* Remove the outline for buttons when focused */
button {
  &:focus {
    outline: none;
  }
}
