.titleContainer {
  display: flex;
  justify-content: space-between;
}

.experience {
  margin-bottom: 20px;
}

.experienceTitle {
  font-weight: bold;
}

.experienceExtra {
  color: #5c7080;
}

.experienceDesc {
  width: 550px;
}
