{
  "env": {
    "production": {
      "plugins": ["emotion"],
      "presets": ["es2015", "react"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }]],
      "presets": ["es2015", "react"]
    }
  }
}